In [ ]:
from hydrodata import Station, utils
import hydrodata.datasets as hds
from hydrodata import plot
from hydrodata import services
import matplotlib.pyplot as plt
import geopandas as gpd
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [ ]:
wshed = Station('2010-01-20', '2010-01-21', station_id= '02082585')

In [ ]:
nldi = hds.NLDI
tributaries = nldi.tributaries(wshed.station_id)
main_channel = nldi.main(wshed.station_id)
catchments = nldi.catchments(wshed.station_id)
stations = nldi.stations(wshed.station_id, navigation="upstreamMain", distance=150)

In [ ]:
ax = wshed.basin.plot(facecolor='none', edgecolor='k', figsize = (8, 8))
catchments.plot(ax=ax, facecolor='none', edgecolor='grey', ls= "--", lw=0.5, zorder=1)
tributaries.plot(ax=ax, color='b', label='Tributaries', zorder=2)
main_channel.plot(ax=ax, color='g', lw=2, label='Main', zorder=3)
stations.plot(ax=ax, color='r', label='Stations up to 150 km upstream of main', marker='*', zorder=4, markersize=50)
ax.figure.set_dpi(100)
ax.legend(loc='best');

In [ ]:
ax = wshed.basin.plot(facecolor='none', edgecolor='k', figsize = (8, 8))

In [29]:
from hydrodata import Station, utils
import hydrodata.datasets as hds
from hydrodata import plot
from hydrodata import services
import matplotlib.pyplot as plt
import geopandas as gpd
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import urllib.request
from urllib.request import urlopen
import requests
import lxml.html as lh
response = requests.get('https://waterdata.usgs.gov/nc/nwis/current/?type=flow&group_key=NONE')
stored_contents = lh.fromstring(response.content)
table_elements = stored_contents.xpath('//tbody')
[len(T) for T in table_elements[:12]]

[288]

In [30]:
col = []
i=0

for t in table_elements[0]:
    i+=1
    x = t.text_content().replace('\n ', '')
    name=x.split('\xa0')[0]
    if name != '':
        #print(i, name)
        col.append((name))
    else:
        pass

In [ ]:
Geometries = pd.DataFrame(columns=['geometry'])
for p in range(287):
    try:
        wshed = Station('2010-01-20', '2010-01-21', station_id=col[p])
        Geometries.append(wshed.basin)
    except:
        pass
    print(p, Geometries)

In [ ]:
Geometries = pd.DataFrame(columns=['geometry'])
wshed = Station('2010-01-20', '2010-01-21', station_id='02108000')
Geometries.append(wshed.basin, ignore_index=True)

In [ ]:
print(type(stations))

In [ ]:
wshed.basin.geometry

In [21]:
stations = nldi.stations(wshed.station_id, navigation=None, distance=1)

In [22]:
stations

     comid                    geometry
0  8762349  POINT (-77.78722 35.95472)

In [ ]:
from hydrodata import Station, utils
import hydrodata.datasets as hds
from hydrodata import plot
from hydrodata import services
import matplotlib.pyplot as plt
import geopandas as gpd
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import urllib.request
from urllib.request import urlopen
import requests
import lxml.html as lh
response = requests.get('https://waterdata.usgs.gov/nc/nwis/current/?type=flow&group_key=NONE')
stored_contents = lh.fromstring(response.content)
table_elements = stored_contents.xpath('//tbody')
[len(T) for T in table_elements[:12]]
col = []
i=0

for t in table_elements[0]:
    i+=1
    x = t.text_content().replace('\n ', '')
    name=x.split('\xa0')[0]
    if name != '':
        #print(i, name)
        col.append((name))
    else:
        pass
Area = []
for p in range(287):
    try:
        wshed = Station('2010-01-20', '2010-01-21', station_id= col[p])
        Area.append(wshed.basin)
    except:
        pass
    print(p)
hydroFrame = pd.concat(Area)
hydroFrame.reset_index()

In [ ]:
Area = []

for p in range(6):
    try:
        wshed = Station('2010-01-20', '2010-01-21', station_id= col[p])
        Area.append(wshed.basin)
    except:
        pass

In [ ]:
hydroFrame = pd.concat(Area)
hydroFrame.reset_index()

In [ ]:
Area

In [23]:
import dataretrieval.nwis as nwis

In [24]:
site = '03339000'

In [25]:
df = nwis.get_record(sites=site, service='iv', start='2017-12-31', end='2018-01-01')

In [ ]:
Area = []
hydroFrame2 = pd.DataFrame()
for p in range(10):
    try:
        df = nwis.get_record(sites=col[p], service='iv', start='2016-12-31', end='2018-01-01')
        Area.append(df)
    except Exception as e:
        print(e)
        
hydroFrame2 = pd.concat(Area)
hydroFrame2.reset_index()

In [ ]:
import os
folderpath = '/Users/benwilliams/Documents/Data+/Streamgage_Data' # TODO fill in
existing_files = os.listdir(folderpath)
Area = []
for p in range(10):
    print(p)
    filepath = "{}_downloaded.csv".format(col[p])
    full_path = os.path.join(folderpath, filepath)
    if filepath in existing_files:
        continue
    try:
        print('start collecting')
        df = nwis.get_record(sites=col[p], service='iv', start='2019-06-17', end='2020-06-17')
        print('data collected')
        df.to_csv(full_path)
        # Area.append(df)
    except Exception as e:
        print(e)
# hydroFrame3 = pd.concat(Area)
# hydroFrame3.reset_index()

0
start collecting
'Index' object has no attribute 'tzinfo'
1
start collecting
'Index' object has no attribute 'tzinfo'
2
start collecting

In [37]:
os.listdir('/usr/')

['bin',
 'standalone',
 'libexec',
 'sbin',
 'local',
 'lib',
 'X11',
 'X11R6',
 'share']

In [ ]:
hydroFrame3.sort_values("datetime")

In [ ]:
df = nwis.get_record(sites=site, service='iv', start='1990-06-18', end='1990-06-30')

In [ ]:
Area

In [31]:
df

,00010,00010_cd,site_no,00060,00060_cd,00065,00065_cd,00095,00095_cd,00300,...,51289,51289_cd,63680_ysi,63680_ysi_cd,63680_hach,63680_hach_cd,91049,91049_cd,99133,99133_cd
datetime,,,,,,,,,,,,,,,,,,,,,
2017-12-31 00:00:00-06:00,1.0,A,03339000,140.0,A,2.40,A,831.0,A,15.0,...,0.100,A,6.1,A,3.6,A,3480.0,P,4.61,A
2017-12-31 00:15:00-06:00,1.0,A,03339000,138.0,A,2.39,A,831.0,A,15.0,...,NaN,NaN,6.1,A,3.6,A,3440.0,P,4.61,A
2017-12-31 00:30:00-06:00,1.0,A,03339000,139.0,A,2.40,A,831.0,A,15.0,...,NaN,NaN,6.2,A,3.4,A,3470.0,P,4.61,A
2017-12-31 00:45:00-06:00,1.0,A,03339000,139.0,A,2.39,A,832.0,A,14.9,...,NaN,NaN,6.0,A,3.4,A,3450.0,P,4.61,A
2017-12-31 01:00:00-06:00,1.0,A,03339000,139.0,A,2.39,A,832.0,A,14.9,...,0.064,A,6.0,A,3.5,A,3450.0,P,4.61,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-01-01 22:45:00-06:00,0.9,A,03339000,NaN,NaN,2.69,A,782.0,A,14.8,...,NaN,NaN,6.9,A,4.0,A,NaN,NaN,4.48,A
2018-01-01 23:00:00-06:00,0.9,A,03339000,NaN,NaN,2.68,A,783.0,A,14.8,...,0.087,A,6.6,A,4.4,A,NaN,NaN,4.49,A
2018-01-01 23:15:00-06:00,0.9,A,03339000,NaN,NaN,2.68,A,784.0,A,14.8,...,NaN,NaN,7.1,A,4.7,A,NaN,NaN,4.49,A
2018-01-01 23:30:00-06:00,0.9,A,03339000,NaN,NaN,2.69,A,784.0,A,14.8,...,NaN,NaN,7.2,A,4.6,A,NaN,NaN,4.49,A
2018-01-01 23:45:00-06:00,0.9,A,03339000,NaN,NaN,2.69,A,786.0,A,14.8,...,NaN,NaN,6.8,A,4.2,A,NaN,NaN,4.48,A